.card-inner {
    background-color: #354759;
    margin-top: .5rem;
    margin-bottom: .5rem;
}
.card-inner-text {
    color: beige;
    font-size: 2rem;
    font-family:Arial, Helvetica, sans-serif;

}
.big-label {
    color: beige;
    font-size: 2rem;
    font-family:Arial, Helvetica, sans-serif;

}
.sml-label {
    color: beige;
    font-size: 1.3rem;
    font-family:Arial, Helvetica, sans-serif;

}
.heading {
    color: beige;
    font-size: 2.5rem;
    font-family:Arial, Helvetica, sans-serif;
}

body {
    background-color: #2E3E4E
}

.result-text {
    color: beige;
    font-size: 2rem;
    font-family:Arial, Helvetica, sans-serif;
}

.error  {
    border:  2px solid ;
    border-color: #be3e46;
}
.err{
    color: #be3e46;
}

/* ------------------ */


